.hero-container{
    display: flex;
    flex-direction: column;

}

.header{
    height: 85vh;
    /* width: 89vw; */
    width: 99vw;
    font-size: 700%;
    z-index: 10;
    /* text-align: center; */
   /* transform:translate(7px,100px); */
   transform:translate(.5%,16.5%);

    /* background-color: white; */
    background-image:linear-gradient(rgba(0, 0, 0, 0.55),rgba(0, 0, 0, 0.55)),  url(https://images.unsplash.com/photo-1507646871303-331b8f659227?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);
    background-image:linear-gradient(rgba(46, 19, 29, 0.55),rgba(46, 19, 29, 0.55)),  url(https://images.unsplash.com/photo-1548128341-c9a90eff9495?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);
    /* background-image:linear-gradient(rgba(46, 19, 29, 0.342),rgba(46, 19, 29, 0.342)),  url(https://images.unsplash.com/photo-1518621519653-428244942d7d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60); */
    background-size: cover;
    /* background-position-y: -600px; */
    /* background-position-x: -10px; */
    background-position-y: -200px;

    /* font-family: 'Comfortaa', cursive; */
    /* font-family: 'Yanone Kaffeesatz', sans-serif; */
    font-family: 'Text Me One', sans-serif;
    /* padding: 5%; */
    font-weight: 300;
    /* margin: 5%; */
    /* margin-left: .5%; */
    /* margin-top: 0; */
    padding-bottom: 10%;
    color: ghostwhite;
    color: rgb(251, 250, 248);
    display: flex;
    background-attachment: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    
  

}

@media(max-width: 500px){
    .header{
        height: 85vh;
        /* width: 89vw; */
        width: 99vw;
        font-size: 200%;
        z-index: 10;
       
       transform:translate(.5%,16.5%);
    
        /* background-color: white; */
        background-image:linear-gradient(rgba(0, 0, 0, 0.55),rgba(0, 0, 0, 0.55)),  url(https://images.unsplash.com/photo-1507646871303-331b8f659227?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);
        background-image:linear-gradient(rgba(46, 19, 29, 0.55),rgba(46, 19, 29, 0.55)),  url(https://images.unsplash.com/photo-1548128341-c9a90eff9495?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);
        /* background-image:linear-gradient(rgba(46, 19, 29, 0.342),rgba(46, 19, 29, 0.342)),  url(https://images.unsplash.com/photo-1518621519653-428244942d7d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60); */
        background-size: cover;
     
        background-position-y: 0px;
    
        font-family: 'Text Me One', sans-serif;
    
        font-weight: 300;
       
        padding-bottom: 10%;
        color: ghostwhite;
        color: rgb(251, 250, 248);
        display: flex;
        background-attachment: fixed;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
    }

}
@media(max-width: 375px){
    .header{
        height: 85vh;
        /* width: 89vw; */
        width: 99vw;
        font-size: 200%;
        z-index: 10;
       
       transform:translate(.5%,16.5%);
    
        /* background-color: white; */
        background-image:linear-gradient(rgba(0, 0, 0, 0.55),rgba(0, 0, 0, 0.55)),  url(https://images.unsplash.com/photo-1507646871303-331b8f659227?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);
        background-image:linear-gradient(rgba(46, 19, 29, 0.55),rgba(46, 19, 29, 0.55)),  url(https://images.unsplash.com/photo-1548128341-c9a90eff9495?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);
        /* background-image:linear-gradient(rgba(46, 19, 29, 0.342),rgba(46, 19, 29, 0.342)),  url(https://images.unsplash.com/photo-1518621519653-428244942d7d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60); */
        background-size: 800px;
     
        background-position-y: -20%;
    
        font-family: 'Text Me One', sans-serif;
    
        font-weight: 300;
       
        padding-bottom: 10%;
        color: ghostwhite;
        color: rgb(251, 250, 248);
        display: flex;
        background-attachment: fixed;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
    }

}
